.btn {
    border: 2px solid color(accent);
    background-color: color(light);
    color: color(dark);
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: $rounded;
    cursor: pointer;
    display: block;

    transition: ease-in-out 200ms;

    &:hover {
        background-color: darken(color(light), 5);
        transition: ease-in-out 200ms;
    }
}
