.nav {
    list-style: none;
    margin: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-item {
        margin: 0 0.5vw;
    }

    &-link {
        text-decoration: none;
        color: color(accent);
        font-size: 1.2rem;

        transition: ease-in-out 200ms;

        &:hover {
            color: darken(color(accent), 5);
            transition: ease-in-out 200ms;
        }
    }
}
