#search {
    display: flex;
    justify-content: flex-end;
    margin: 1vh 1vw;
    min-width: 20vw;

    &-group {
        width: 100%;
    }

    &-label {
        font-size: 1.2rem;
    }

    &-field {
        border-radius: $rounded;
        border: 2px solid color(accent);
        background-color: color(light);
        margin: 0.25vw;
        margin-left: 0;
        padding: 8px 0;
        width: 100%;
    }

    .btn {
        margin: 0.5vw 0;
    }
}
