html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(../img/bg_su.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
