header {
    padding: 1% 0;
    margin-bottom: auto;

    border-bottom: 5px solid color(accent);
    background-color: color(light);

    .container {
        justify-content: space-between;
    }
}
